/* src/App.css */

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
}

.full-height-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.site-layout-content {
  padding: 24px;
  background: #fff;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}



.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* pointer-events: none; */
  /* cursor: none; */
  background: radial-gradient(circle at center, white 0%, white 50%, black 50%, black 100%);
  mix-blend-mode: difference;
  z-index: 1000;
}